* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(225deg, rgba(255,237,219,1) 24%, rgba(243,225,224,1) 46%, rgba(252,252,250,1) 75%);

}

nav a {
    text-decoration: none;
    background-color: #f2dedf;
    box-shadow: 2px 2px 5px black;
    margin: 12px;
    border-radius: 18px;
}

.nav-link {
    font-size: 100%;
    font-weight: bolder;
    padding: 12px;
}

a:hover {
    background-color: white;
}

main {
    background: linear-gradient(#EDCDBB, #EEC373);
    height: 74vh;
}

h2 {
    text-align: center;
    color: black;
    position: relative;
    bottom: 1vh;
    padding: 12px;
}

section {
    display: flex;
    width: 70%;
}

footer {
    background-color: #BF9270;
    height: 5.1vh;
}

footer .cr-con{
    color: white;
    padding-top: 0.7rem;
    text-align: center;
    font-weight: bolder;
}